body {
    font-family: 'Niramit', sans-serif;
}

header {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("images/pug.jpg") top;
    min-height: 800px;
}

.brand-logo {
    font-family: 'Original Surfer', cursive;
}

img {
    margin-top: 3rem;
}

.h {
    display: inline;
}

.hh1 {
    margin-top: 2rem;
}

.hh1 .p1 {
    font-family: 'Alegreya SC', serif;
    margin: 0 10rem;
    font-size: 2.8em;
    font-weight: bold;
    color: white;
    text-shadow: .07em .07em 0 hsla(230,40%,50%,1);
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-7px); }
}
.cloud {
    animation: bounce 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hh1 .p2 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bolder;
}

.hh2 {
    font-family: 'Sniglet', cursive;
    /*font-weight: bold;*/
    width: fit-content;
    position: absolute;
    right: 1em;
    top: 2em;
    color: #ee6e73;
}

span:hover {
    color: #ffffff;
    cursor: pointer;
}

.hh2 p {
    line-height: 1.2em;
   margin-top: 0;
    padding-top: 0;
    font-size: 1em;
    margin-bottom: 0;
}

.hh2 .temp {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #ee6e73;
}

.tabs li a, .tt {
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: whitesmoke;
}


@media screen and (max-width: 670px) {
    header {
        min-height: 550px;
    }

    .hh1 .p1 {
        font-size: 2em;
    }
}
