
header {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("images/pug.jpg") top;
    min-height: 800px;
}

img {
    margin-top: 3rem;
}

.h {
display: inline;
}

.hh1 {
    margin-top: 3rem;
}

.hh2 {
    position: absolute;
    right: 1em;
    top: 2em;
}

.tabs .indicator {
    background-color: #ee6e73;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: whitesmoke;
}



@media screen and (max-width: 670px) {
    header {
        min-height: 550px;
    }
}
